.list-search{
    text-align: center;
}
.list-img{
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */ 
    margin-bottom: 62px;
}