.detail {
  color: white;
  text-align: center;
  margin-top: 56px;
  padding: 0 100px;
}
.detail-img {
  width: 80%;
  border-radius: 2px;
}
.detail-content {
  border-radius: 1px solid white;
}
.detail-content-language,
.detail-content-tag,
.detail-content-overview,
.detail-content-status {
  margin-top: 10px;
}
.detail-content-tag {
  display: flex;
  align-items: center;
  width: 100%;
}
.detail-content-tag .tag {
  display: inline-block;
  margin-left: 10px;
}

.detail-content-language .language {
  display: inline-block;
  margin-left: 10px;
}
.detail-content-overview {
  text-align: justify;
  line-height: 1.4rem;
}
.detail-content-status {
    display: flex;
    align-items: center;
}
.detail-content-status .status{
    margin-left: 10px;
}
.detail-content-title{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.movie-similar-title{
  text-align: left;
  font-size: 25px;
  margin-top: 50px;
}
.action{
  margin-top: 14px;
  width: 100%;
}
.action-play{
  width: 100px;
  font-size: 18px;
}