:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
}

.main{
  margin-top: 56px;
  height: 100%;
}

/*Tablet & mobile*/
@media (max-width: 63.9375em) {
  .navbar_logo {
    width: 100%;
  }
}
@media (max-width: 46.1875em) {
  
}
